* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #221f1f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
#root {
  min-height: 100vh;
  background-color: #221f1f;
}
/* --- STILI NETFLIX --- */

h2,
h4,
footer {
  color: #f5f5f1;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  color: #f5f5f1;
}

.navbar-nav {
  font-size: 90%;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.footer-icon {
  color: #838383;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

/*Hover immagini*/
.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}

/* titolo galleria */
h4 {
  color: white;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* poster OMDb */
.movie-poster {
  width: 100%;
  border-radius: 4px;
  transition: transform 0.2s;
  object-fit: cover;
}

.movie-poster:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-poster {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s;
}
